.ssbc-button__link,
.ssbc-button__icon {
  display: inline-block;
}

.ssbc-button__link {
  text-decoration: none;
  color: #fff;
}

.ssbc-button__icon :global(svg) {
  width: 2em;
  height: 2em;
  margin: 0;
  padding: .2rem;
  vertical-align: middle;
}